Repository yuliia-p/BookLover: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

ready for feedback on issue #1
  client/app.jsx
  client/components/Navbar.jsx
  client/components/books-list.jsx
  client/components/hello-world.jsx
  client/pages/home.jsx
  package.json
  server/public/index.html
  server/public/layout.css
  server/public/styles.css
Due: markuplint, stylelint --fix, eslint --fix

ready for feedback on issue #1
  client/components/hello-world.jsx
  webpack.config.js
Due: eslint --fix

ready for feedback on issue #1
  client/components/Navbar.jsx
  client/components/TopSellers.jsx
  client/pages/home.jsx
  package.json
Due: eslint --fix

renamed HelloWorld component, fixed scripts in package.json, removed commented code
  package.json
Due: none

fixed css for destop
  server/public/styles.css
Due: stylelint --fix

fixed css and fonts
  server/public/index.html
  server/public/styles.css
Due: markuplint, stylelint --fix

issue #2 - two requests are sent, page is rendering different lists of data
  client/app.jsx
  client/components/Navbar.jsx
  client/components/TopSellers.jsx
  client/components/books-list.jsx
  client/components/categories-render.jsx
  client/pages/home.jsx
  package-lock.json
  package.json
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

issue #2 - two requests are sent, page is rendering different lists of data, fixed css
  client/components/Navbar.jsx
  client/components/categories-render.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

issue #2 - two requests are sent, page is rendering different lists of data, fixed css
  client/components/Navbar.jsx
Due: eslint --fix

issue #2 - removed commented code, uninstall bootstrap, added css for navbar
  client/app.jsx
  client/components/Navbar.jsx
  client/components/books-list.jsx
  package-lock.json
  package.json
  server/public/styles.css
Due: stylelint --fix, eslint --fix

started issue #3
  client/app.jsx
  client/components/books-list.jsx
  client/lib/parse-route.js
  server/public/styles.css
  webpack.config.js
Due: stylelint --fix, eslint --fix

added hash routing, rating, new component for more details
  client/app.jsx
  client/components/Navbar.jsx
  client/components/books-list.jsx
  client/components/rating.jsx
  client/pages/more-details.jsx
  client/pages/not-found.jsx
  server/public/index.html
  server/public/layout.css
  server/public/styles.css
Due: markuplint, stylelint --fix, eslint --fix

added hash routing, rating, new component for more details
  client/components/rating.jsx
Due: eslint --fix

added half star rating
  client/components/rating.jsx
  client/pages/more-details.jsx
Due: eslint --fix

removed commented code
  client/pages/more-details.jsx
Due: eslint --fix

fixed css styles
  client/app.jsx
  client/components/Navbar.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added filter for books with isbn
  client/components/books-list.jsx
Due: eslint --fix

getCategories request moved to componentDidMount()
  client/components/Navbar.jsx
Due: eslint --fix

removed if statetment for filtering books
  client/components/books-list.jsx
Due: eslint --fix

user's info is posted to database, created modal, form component
  client/app.jsx
  client/components/Navbar.jsx
  client/components/auth-form.jsx
  client/lib/app-context.js
  client/pages/auth-modal.jsx
  database/data.sql
  database/schema.sql
  list-of-databases.txt
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added props to auth-form from app component for closing modal
  client/app.jsx
  client/components/Navbar.jsx
  client/components/auth-form.jsx
  client/pages/auth-modal.jsx
Due: eslint --fix

fixed css
  client/app.jsx
  client/components/Navbar.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

removed list-of-databases.txt and unnecessary react fragments
  client/components/auth-form.jsx
  client/pages/auth-modal.jsx
  list-of-databases.txt
Due: eslint --fix

working on modal
  client/app.jsx
  client/components/Navbar.jsx
  client/components/auth-form.jsx
  client/components/categories-render.jsx
  client/components/rating.jsx
  client/components/sign-in-modal.jsx
  client/components/sign-up-modal.jsx
  client/pages/auth-modal.jsx
  client/pages/more-details.jsx
  package-lock.json
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

modal is showing, token is saved in local storage
  client/app.jsx
  client/components/sign-in-modal.jsx
  client/components/sign-up-modal.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added onComplete() for forms
  client/app.jsx
  client/components/sign-in-modal.jsx
  client/components/sign-up-modal.jsx
Due: eslint --fix

added onComplete() for forms, css
  client/app.jsx
  client/components/navbar.jsx
  client/pages/more-details.jsx
  client/pages/my-books
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added onComplete() for forms, css
  client/pages/my-books
  client/pages/my-books.jsx
Due: eslint --fix

book data saved to books table, ids saved to addedBooks table
  client/app.jsx
  client/components/books-list.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  database/data.sql
  database/schema.sql
  server/index.js
Due: eslint --fix

added return for query
  server/index.js
Due: eslint --fix

updated MyBooks component with fetch req
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  database/schema.sql
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

requests for saving book, userId and to get data of saved books done, new components created, user can see the list of added books
  client/app.jsx
  client/components/more-details-my-books.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added css
  server/public/styles.css
Due: stylelint --fix

created new component fot rating show-rating.jsx
  client/components/more-details-my-books.jsx
  client/components/show-rating.jsx
  client/pages/more-details.jsx
Due: eslint --fix

created new component fot rating show-rating.jsx
  client/pages/more-details.jsx
Due: eslint --fix

added 'get a copy' buttons with href
  client/components/more-details-my-books.jsx
  client/pages/more-details.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added 'get a copy' buttons with href
  client/app.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

search is working: added two req with diff url, search bar ia added, buy button is on a page if google provides a link
  client/app.jsx
  client/components/more-details-my-books.jsx
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/more-details.jsx
  database/data.sql
  database/schema.sql
  server/index.js
  server/public/images/icons8-search-50.png
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added if statment for saving a book without short descr
  client/pages/more-details.jsx
Due: eslint --fix

Path conditions:
  markuplint: any of: *.html
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx}
