Repository yuliia-p/BookLover: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

fixed bugs with isbn, I hope, added short description
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
Due: eslint --fix

added on conflict (userId, bookId) do nothing for query
  server/index.js
Due: eslint --fix

added req in index.js for deleting a book, updated app coponent and created one for modal
  client/app.jsx
  client/components/books-list.jsx
  client/components/delete-modal.jsx
  client/components/more-details-my-books.jsx
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added req in index.js for deleting a book, updated app coponent and created one for modal + css for modal
  client/components/delete-modal.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

fixed css
  server/public/styles.css
Due: stylelint --fix

added css for buttons
  server/public/styles.css
Due: stylelint --fix

added authorization middleware function, updated sql query, removed unnecessary state in new class component
  client/app.jsx
  client/components/delete-modal.jsx
  client/components/navbar.jsx
  client/pages/more-details.jsx
  server/authorization-middleware.js
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added sighout(), dropdown menu with anchor to my books and sign-out
  client/app.jsx
  client/components/more-details-my-books.jsx
  client/components/navbar.jsx
  client/components/profile-menu.jsx
  client/pages/more-details.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added hash routing for categories
  client/app.jsx
  client/components/books-list.jsx
  client/components/more-details-my-books.jsx
  client/components/navbar.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  client/pages/not-found.jsx
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

updated req - now by title and author, updated schema
  client/app.jsx
  client/components/books-list.jsx
  client/components/search.jsx
  client/pages/home.jsx
  client/pages/more-details.jsx
  database/schema.sql
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

updated req
  client/pages/more-details.jsx
Due: eslint --fix

added componentDidUpdate() for Search component
  client/components/search.jsx
Due: eslint --fix

added componentDidUpdate() for Home component
  client/app.jsx
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/home.jsx
Due: eslint --fix

fixed css
  client/app.jsx
  server/public/layout.css
Due: stylelint --fix, eslint --fix

added componentDidUpdate() for Home component
  client/pages/more-details.jsx
  database/data.sql
Due: eslint --fix

have to check childrens categories
  client/components/navbar.jsx
  client/pages/home.jsx
Due: eslint --fix

removed unnecessary states and methods
  client/app.jsx
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/pages/home.jsx
Due: eslint --fix

fixed bugs
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/home.jsx
Due: eslint --fix

package.json
  package.json
Due: none

Update README.md
  README.md
Due: none

added loading spinner
  client/app.jsx
  client/components/loading-spinner.jsx
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/home.jsx
  client/pages/more-details.jsx
  client/pages/not-found.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

code cleanup
  client/components/more-details-my-books.jsx
  client/pages/more-details.jsx
  server/public/index.html
  server/public/layout.css
  server/public/styles.css
Due: markuplint, stylelint --fix, eslint --fix

favicon added
  server/public/favicon.ico
Due: none

Add files via upload
  Screen Shot 2022-09-30 at 1.29.28 PM.png
  log-in-preview.png
  sign-up-previw.png
Due: none
