Repository yuliia-p/BookLover: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

more details component modified
  client/components/navbar.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  database/data.sql
  database/schema.sql
  server/index.js
  server/public/styles.css
Due: stylelint --fix, eslint --fix

fixed local storage key name
  client/app.jsx
  client/components/more-details-my-books.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
Due: eslint --fix

added req by book id
  client/components/delete-modal.jsx
  client/pages/more-details.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

fixed css
  server/public/styles.css
Due: stylelint --fix

typo and email type atr
  client/components/sign-up-modal.jsx
Due: eslint --fix

fixing bugs
  client/components/search.jsx
  client/components/sign-up-modal.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
Due: eslint --fix

Update README.md
  README.md
Due: none

working on carousel
  client/components/book-carousel.jsx
  client/pages/home.jsx
  client/pages/more-details.jsx
  server/public/index.html
  server/public/styles.css
Due: markuplint, stylelint --fix, eslint --fix

fixing bugs and css
  client/components/books-list.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

adding navbar
  client/components/navbar.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

updated navbar
  client/components/navbar.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

updated navbar
  client/components/navbar.jsx
Due: eslint --fix

css and adding select elements
  client/components/navbar.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

working on navbar
  client/components/navbar.jsx
Due: eslint --fix

styles changed and navbar still needs improvment
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/pages/my-books.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

working on navbar
  client/components/search.jsx
  client/pages/more-details.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

navbar and styling
  client/components/navbar.jsx
  client/pages/more-details.jsx
  server/public/layout.css
Due: stylelint --fix, eslint --fix

working on home component
  client/pages/home.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

working on new component
  client/components/book-list-by-category.jsx
  client/pages/home.jsx
Due: eslint --fix

working on home component, added new carousel component
  client/app.jsx
  client/components/book-component.jsx
  client/components/book-list-by-category.jsx
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/pages/all-books-list.jsx
  client/pages/home.jsx
  client/pages/more-details.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

added new component for list of books
  client/pages/all-books-list.jsx
Due: eslint --fix

working on navbar component
  client/app.jsx
  client/components/navbar.jsx
  server/public/layout.css
Due: stylelint --fix, eslint --fix

navbar form completed
  client/components/navbar.jsx
Due: eslint --fix

added styling
  client/pages/home.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

working on new footer component
  client/app.jsx
  client/components/footer.jsx
  client/components/navbar.jsx
  client/pages/home.jsx
  server/public/layout.css
Due: stylelint --fix, eslint --fix

fixed home component and navbar
  client/components/navbar.jsx
  client/pages/home.jsx
  server/public/layout.css
Due: stylelint --fix, eslint --fix

fotter added
  client/components/footer.jsx
  client/components/navbar.jsx
  client/pages/home.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

fotter added
  client/pages/my-books.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

Add files via upload
  server/public/images/Log_In.png
  server/public/images/My_Books.png
  server/public/images/Sign_Up.png
Due: none

added new Book component
  client/components/books-list.jsx
Due: eslint --fix

Revert "working on carousel"
  client/components/book-carousel.jsx
  client/pages/home.jsx
  client/pages/more-details.jsx
  server/public/index.html
  server/public/styles.css
Due: markuplint, stylelint --fix, eslint --fix

home fixed
  client/pages/home.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

book-carousel
  client/components/book-carousel.jsx
Due: eslint --fix

home comp to function
  client/pages/home.jsx
Due: eslint --fix
