Repository yuliia-p/BookLover: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ]
}

Update README.md
  README.md
Due: none

Add files via upload
  details-preview.png
Due: none

added css
  client/pages/more-details.jsx
  database/schema.sql
Due: eslint --fix

tags added, need to check
  server/public/images/book-lover.jpg
  server/public/index.html
Due: markuplint

Delete Screen Shot 2022-09-30 at 1.29.28 PM.png
  Screen Shot 2022-09-30 at 1.29.28 PM.png
Due: none

cheking Open Graph meta tags
  server/public/images/book-lover.jpg
  server/public/index.html
Due: markuplint

cheking Open Graph meta tags
  server/public/index.html
Due: markuplint

project-polish-4
  server/public/styles.css
Due: stylelint --fix

fixing search
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/more-details.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

search and css
  client/app.jsx
  client/components/navbar.jsx
  client/pages/more-details.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

adding books check
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

sorted added books, fixed search issue, added fetch req only by title
  client/components/search.jsx
  client/pages/more-details.jsx
  server/index.js
Due: eslint --fix

working on authors
  client/components/search.jsx
  client/pages/more-details.jsx
Due: eslint --fix

css changed, more-details component
  client/components/books-list.jsx
  client/components/navbar.jsx
  client/components/search.jsx
  client/pages/more-details.jsx
  client/pages/my-books.jsx
  server/public/layout.css
  server/public/styles.css
Due: stylelint --fix, eslint --fix

search bar fixed, profile menu, more-details component
  .env.example
  client/app.jsx
  client/components/search.jsx
  client/components/sign-up-modal.jsx
  server/public/styles.css
Due: stylelint --fix, eslint --fix

search bar fixed, profile menu, more-details component
  server/public/styles.css
Due: stylelint --fix

Delete log-in-preview.png
  server/public/images/log-in-preview.png
Due: none

Delete details-preview.png
  server/public/images/details-preview.png
Due: none

Delete icons8-search-50.png
  server/public/images/icons8-search-50.png
Due: none

Add files via upload
  server/public/images/details.png
  server/public/images/log-in.png
  server/public/images/sign-up-preview.png
Due: none
